<%= form_with(model: alert, local: true) do |form| %>
  <% if alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :report_id %>
    <%= form.text_field :report_id, id: :alert_report_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :alert_status %>
  </div>

  <div class="field">
    <%= form.label :triggered %>
    <%= form.datetime_select :triggered, id: :alert_triggered %>
  </div>

  <div class="field">
    <%= form.label :resolved %>
    <%= form.datetime_select :resolved, id: :alert_resolved %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
