<p id="notice"><%= notice %></p>

<h1>Search - Articles</h1>

<h2>Query: <%= @query %></h2>

<table>
  <thead>
    <tr>
      <th>Headline main</th>
      <th>Headline content kicker</th>
      <th>Headline kicker</th>
      <th>Print headline</th>
      <th>Byline</th>
      <th>Web url</th>
      <th>Snippet</th>
      <th>Lead paragraph</th>
      <th>Print page</th>
      <th>Source</th>
      <th>Pub date</th>
      <th>Document type</th>
      <th>Section</th>
      <th>Type of material</th>
      <th>Word count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.headline_main %></td>
        <td><%= article.headline_content_kicker %></td>
        <td><%= article.headline_kicker %></td>
        <td><%= article.print_headline %></td>
        <td><%= article.byline %></td>
        <td><%= article.web_url %></td>
        <td><%= article.snippet %></td>
        <td><%= article.lead_paragraph %></td>
        <td><%= article.print_page %></td>
        <td><%= article.source %></td>
        <td><%= article.pub_date %></td>
        <td><%= article.document_type %></td>
        <td><%= article.section %></td>
        <td><%= article.type_of_material %></td>
        <td><%= article.word_count %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
